<div class="container" >
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Reset your password!</h5>
            <form class="form-signin" [formGroup]="passwordForm" (submit)="resetPassword()">
                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <mat-icon matPrefix>lock</mat-icon>
                    <input matInput formControlName="email" placeholder="Your Email"
                    type="text" required>
                    <mat-error *ngIf="email.hasError('required')">
                        <mat-icon>clear</mat-icon>
                        Email is required!
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="legacy">
                    <mat-label>Password</mat-label>
                    <mat-icon matPrefix>lock</mat-icon>
                    <input matInput formControlName="password" placeholder="Your Password"
                    type="password" required>
                    <mat-error *ngIf="password.hasError('required')">
                        <mat-icon>clear</mat-icon>
                        Password is required!
                    </mat-error>
                    <mat-error *ngIf="password.hasError('minlength')">
                        <mat-icon>clear</mat-icon>
                        Password must have at least 6 characters!
                    </mat-error>
                    <mat-error *ngIf="password.hasError('hasNumber')">
                        <mat-icon>clear</mat-icon>
                        Password needs to have at least one number!
                    </mat-error>
                    <mat-error *ngIf="password.hasError('hasCapitalCase')">
                        <mat-icon>clear</mat-icon>
                        Password needs to have at least one uppercase letter!
                    </mat-error>
                    <mat-error *ngIf="password.hasError('hasSmallCase')">
                        <mat-icon>clear</mat-icon>
                        Password needs to have at least one lowercase letter!
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="legacy">
                    <mat-label>Repeat Your Password</mat-label>
                    <mat-icon matPrefix>lock</mat-icon>
                    <input matInput formControlName="confirmPassword" placeholder="Repeat Your Password"
                    type="password" required>
                    <mat-error *ngIf="confirmPassword.hasError('required')">
                        <mat-icon>clear</mat-icon>
                        Please confirm your password!
                    </mat-error>
                    <mat-error *ngIf="confirmPassword.hasError('mismatchedPasswords')">
                        <mat-icon>clear</mat-icon>
                        Your password doesn't match!
                    </mat-error>
                </mat-form-field>
                <button id="submitButton" class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" [disabled]="!passwordForm.valid">Reset</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>