<div class="main-content">
  <div class="container-fluid">
    <form [formGroup]="searchForm">
      <div class="input-group no-border">
        <input
          type="text"
          formControlName="search"
          value=""
          class="form-control"
          placeholder="Search..."
        />
        <button
          mat-raised-button
          type="submit"
          class="btn btn-white btn-round btn-just-icon"
          (click)="onSearch()"
        >
          <i class="material-icons">search</i>
          <div class="ripple-container"></div>
        </button>
      </div>
    </form>
    <div class="row">
      <div
        class="article-card col-md-6"
        *ngFor="let product of products.products"
      >
        <div class="card card-chart">
          <div class="card-header">
            <div>
              <img [src]="product.image" (error)="setDefaultPic(product)" />
            </div>
          </div>
          <div class="card-body">
            <h4 class="card-title">{{ product.name }}</h4>
          </div>
          <div class="card-footer">
            <p>Points: {{ product.points }}</p>
          </div>
          <div
            fxLayoutAlign="start center"
            fxLayoutAlign.lt-md="center center"
            class="card-footer"
          >
            <button
              class="btn btn-danger btn-round"
              type="button"
              [routerLink]="['/earn-points']"
            >
              Scaneaza acest produs
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
