<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="article-card col-md-4"  *ngFor="let article of articles.articles">
              <div class="card card-chart">
                  <div class="card-header">
                      <div>
                          <img [src]="article.image">
                      </div>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">{{article.title}}</h4>
                      <p class="card-category">{{article.description}}</p>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                            <button class="link-button" (click)="navigateToArticle(article)">{{article.link}}</button>.
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-6 col-md-12">
              <div class="card">
                <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
                    <mdb-carousel-item *ngFor="let offer of offers.offers">
                      <div class="view w-100">
                        <img class="d-block w-100" [src]="offer.image" (error)="setOfferDefaultPic(offer)" alt="First slide">
                        <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
                      </div>
                      <div class="carousel-caption">
                        <h3 class="h3-responsive">{{offer.name}}</h3>
                      </div>
                    </mdb-carousel-item>
                  </mdb-carousel>
              </div>
          </div>
          <div class="col-lg-6 col-md-12">
              <div class="card">
                <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
                    <mdb-carousel-item *ngFor="let product of products.products">
                      <div class="view w-100">
                        <img class="d-block w-100" [src]="product.image" (error)="setProductDefaultPic(product)" alt="First slide">
                        <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
                      </div>
                      <div class="carousel-caption">
                        <h3 class="h3-responsive">{{product.name}}</h3>
                      </div>
                    </mdb-carousel-item>
                  </mdb-carousel>
              </div>
          </div>
      </div>
  </div>
</div>
